@font-face {
    font-family: "Bromello";
    src: url("../fonts/bromello/bromello.otf") format("opentype");
}

body{
    background-color: #303841;
}

header{
    background-image: url(../img/portada.jpg);
    height: 96vh;
    width: 80%;
    margin: 4% auto;
    position: relative;
}

.parallax{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.texto{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,.6);
    padding: 19% 8%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.texto h2{
    -webkit-animation: flipInX 3s;
    font-family: 'Dancing Script', cursive;
    font-size: 6.3em;
    margin: 4.5% 0;
}

.texto h3{
    font-family: 'Muli', sans-serif;
    -webkit-animation: slideInUp 3s;
}

.effect.up-scroll {
    transform: translate3d(0,-$parallax-offset / 2,0);
        .content-wrapper {
        transform: translateY($parallax-offset / 2);
        }
    + .effect {
        transform: translate3d(0,$parallax-offset,0);
        .content-wrapper {
            transform: translateY($parallax-offset);
        }
    }
}

.effect.down-scroll {
    transform: translate3d(0,-(100vh + $parallax-offset),0);
        .content-wrapper {
        transform: translateY($content-offset);
    }
    + .effect:not(.down-scroll) {
        transform: translate3d(0,-$parallax-offset / 2,0);
        .content-wrapper {
            transform: translateY($parallax-offset / 2);
        }
    }
}

.fixed{
    position: fixed;
    padding: 2%;
    z-index: 6;
    top: 42%;
}

.fixed:hover{
    background-color: #3A4750;
}

.icono{
    color: white;
    font-size: 6em;
}

.label{
    transform: rotate(-90deg) translateZ(0);
    top: 47px;
    left: 7%;
    position: absolute;
    display: block;
    text-align: center;
    font-size: 2em;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: #fff;
    transition: 1s all ease-out;
}

.rigth{
    right: 0;
    height: 22%;
    width: 10.6%;
}

.none{
    display: none;
}

.barrastyle{
    border-radius: 10px 0px 0px 10px;
    height: 30px;
}

.barrastyle::-webkit-progress-bar{
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
}

.barrastyle::-webkit-progress-value{
    background-color: #384259;
    border-radius: 10px 0px 0px 10px;
}

.uno{
    width: 85%;
}

.dos{
    width: 75%;
}

.tres{
    width: 70%;
}

.display{
    display: inline-block;
    margin: 6px;
    color: #eee;
    font-size: 1.2em;
    text-align: center;
}

.foto{
    width: 88%;
    height: 349px;
    border-radius: 50%;
    margin: 0 5%;
}

.mg{
    margin-top: 5%;
}

.subtitulo{
    font-weight: 800;
    color: #D72323;
    font-family:"Dancing Script";
    text-align: center;
    font-size: 2.5em;
}

.pregunta{
    color: #D72323;
}

.skills{
    padding-left: 6%;
}

.contenedor-barra{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #C4EDDE;
}


#menu{
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.datos{
    padding: 4% 0;
}

#perfil{
    background-color: #3A4750;
}

.skills h3{
    color: #D72323;
}
@media (max-width: 767px){
    .texto h2{
        font-size: 4em;
    }

    .texto{
        padding-top: 49%;
    }
    .icono{
        color: #EEEEEE;
        font-size: 3em;
    }

    .label{
        font-size: .8em;
        top:19px;
    }

    .rigth{
        height: 10.5%;
        width: 17%;
    }

    .fixed{
        background-color: #3A4750;
    }
}